.profile {
  margin: 3rem auto;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile h1 {
  font-size: 5rem;
  animation: fadeIn 1s ease-in-out;
}